.button {
  width: 171px;
  height: 57px;
  background-color: #3a68b8;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
}

.button__triangle {
  width: 217px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button__triangle::before {
  content: "";
  border-left: 20px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #3a68b8;
  transition: all 0.5s ease;

}

.button__triangle:hover::before {
  border-left: 20px solid #3a68b8;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.button-small {
  width: 150px;
  height: 52px;
  font-size: 16px;
}