/* Глобальные стили */
@import url("./reset.css");
@import url("./global.css");
@import url("./button.css");
@import url("./container.css");


/*блочные стили*/
@import url("./blocks/header.css");
@import url("./blocks/content.css");
@import url("./blocks/logos.css");
@import url("./blocks/card.css");
@import url("./blocks/footer.css");


