/* Глобальные стили */
@import url("./reset.css");
@import url("./global.css");
@import url("./button.css");

/*блочные стили*/
@import url("./blocks/header.css");
@import url("./blocks/content.css");
@import url("./blocks/logos.css");


