.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    height: 1227px;
    width: 1146px;
    margin: 264px auto 83px;
}
.card__item {
    background-color: #132035;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
.card__item-large{
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
    padding-bottom: 140px;
}
.card__text{
    opacity: 70%;
    line-height: 160%;
    padding:  0 30px;
   
}

.card__title{
    font-size: 25px;
    opacity: 70%;
    font-weight: 700;
    line-height: 125%;
    
}
   


