.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: clamp(30px, 2vw, 32px);
    height: 1227px;
    max-width: 1146px;
    margin: 264px auto 93px;
}

.card__item {
    background-color: #132035;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 362px;
    padding: 30px 0;
}

@media(hover: hover) {
    .card__item:hover {
        box-shadow: 15px 10px 15px -3px rgba(255, 255, 255, 0.1);
        transition: all 0.3s linear;
        transform: translateY(-3%);
    }


}

.card__item-large {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
    padding-bottom: 140px;
    padding-top: 25px;
    width: auto;
}

.card__text {
    opacity: 70%;
    line-height: 160%;
    padding: 0 30px;
    font-weight: 600;

}

.card__title {
    font-size: 25px;
    opacity: 70%;
    font-weight: 700;
    line-height: 125%;

}

.content-img {
    position: relative;
    top: -10px;
}

@media(max-width:1170px) {
    .card>*:nth-last-child(-n+3) {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}