.content {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  gap: 120px;
  width: 1146px;
  margin: 0 auto;
}
.content-gap{
  gap: 67px;
  
}
.content__inner-info-subtitle {
  font-size: 18px;
  color: #3a68b8;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.content__inner-info-title {
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
  margin-bottom: 40px;
}
.content__inner-info-text {
  font-size: 18px;
  opacity: 70%;
  margin-bottom: 50px;
}
.content__inner-button {
  display: flex;
  gap: 20px;
}

.content__inner-info-title-small {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  
 
}
.content__inner-info-text-small {
  font-size: 16px;
  margin-bottom: 25px;

}
.content__inner-info-title-indent{
  padding-top: 117px;
}
.content__inner-info-small{
  width: 548px;
  height: 464px;
  gap: 20px;
 

}
.content-small-gap{
  gap: 30px;
  

}
@media( max-width:1170px){
  .content{
    flex-direction: column;
    width: 767px;
  }
}


