
.header {
  height: 100px;
  background-color: #0A111F;
  position: sticky;
  top:0;
  z-index: 100;
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1);
  
}
.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.header__nav {
  padding-top: 39px;
}

 .header__nav-list a:nth-child(1):hover {
  color: red; 
}

.header__nav-list a:nth-child(2):hover {
  color: blue;
}

.header__nav-list a:nth-child(3):hover  {
  color: green;
}

.header__nav-list a:nth-child(4):hover {
  color: yellow;
}

.header__nav-list a:nth-child(5):hover {
  color: orange;
}
.header__nav-list-item:hover{
  text-decoration: underline;

}