.logos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    margin-top: 197px;
    gap: 72px; 
    justify-content: center;
    padding-bottom: 99px;
     max-width: 1146px;
   

}
@media( max-width:849px) {
    .logos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 32px;
    }
    
}
