.logos {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 197px;
    gap: 72px;
    justify-content: center;
    padding-bottom: 99px;
    width: clamp(343px, 75vw, 1149px);
}